form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 80%; 
    max-width: 1200px;
    background-color: #fff;
    text-align: center;
    border-radius: 0.8rem;
    overflow: hidden;

}
.left{
    width: 40%;
    background-image: url("../../public/image/peter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.right{
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
input[type="text"], input[type="email"], textarea{
    width: 60%;
    background: #e6e6e6;
    border: none;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 0 30px;
    color: #666;
    font-weight: 700;
}
input:focus, textarea:focus{
    outline: 1px solid #ED1D27;
}
textarea{
    height: auto;
    padding: 5px 30px;
    resize: none;
    font-size: 13px;
}

label{
    color: #ED1D27;
}
.submit{
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid #ED1D27 ;
    color : #ED1D27 ;
    padding: 15px 20px;
    margin: 15px;
    transition: 0.2s;
    text-shadow: 0px 0px 10px #ED1D27 ;
    text-decoration: none;
    cursor: pointer;
}
.submit:hover{
    background-color: #ED1D27 ;
    color: #ECD9FF;
    text-shadow: 0px 0px 10px #fff ;    
}

@media(max-width:850px){
    .container{
        flex-direction: column;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        padding: 0;
        margin: 30px 0;
    }
}